O material deste curso é parte integrante do módulo de Programação para Ciência de Dados no curso de Pós-Graduação Lato Sensu em Ciência de Dados da Universidade do Estado do Amazonas (UEA) ministrada pelo professor Tiago Eugenio de Melo

# Interpretador

In [ ]:
4 + 6

10

In [ ]:
x = 10

print (x)

10

In [ ]:
2 + 5

7

In [ ]:
2 * 5

10

In [ ]:
2/5

0.4

In [ ]:
2-5

-3

In [ ]:
5 ** 2

25

In [ ]:
5 % 2

1

# Básicos

In [ ]:
x1 = 10

In [ ]:
x2 = 9.7

In [ ]:
x3 = "Python"

In [ ]:
x4 = True

In [ ]:
type(x1)

int

In [ ]:
type(x2)

float

In [ ]:
type(x3)

str

In [ ]:
type(x4)

bool

In [ ]:
x4 = 100

In [ ]:
type(x4)

int

#Identação

Não há necessidade de uso de chaves ou ponto-e-vírgula.

In [ ]:
x = 10
if (x%2==0):
  print ('Par')
else:
  print ('Impar')

Par

Código com problema de identação.

In [ ]:
x = 10
if (x%2==0):
print ('Par')
else:
print ('Impar')

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-20-062058ba9709>, line 3)

#Manipulação de Strings

In [ ]:
texto = "Python"

print (texto)

Python

In [ ]:
texto.upper()

'PYTHON'

O método `.upper()` do objeto string permite formatar o conteúdo da string.

#Comentários em Python

Comentário em uma única linha

*   Começa com o símbolo #
*   Tudo que estiver após # na mesma linha será ignorado pelo interpretador.

In [ ]:
x = 100

print (x)
#print (x+1)
print (x+2)

100
102

Docstrings (comentários descritivos em strings)

* Usados para documentar funções, classes ou módulos

* São escritos entre três aspas duplas ou simples: """ ... """ ou ''' ... '''

In [ ]:
def saudacao(nome):
    """
    Exibe uma saudação personalizada.

    Parâmetros:
    nome (str): Nome da pessoa que será saudada.

    Retorna:
    None
    """
    print(f"Olá, {nome}!")

In [ ]:
help(saudacao)

Help on function saudacao in module __main__:

saudacao(nome)
    Exibe uma saudação personalizada.

    Parâmetros:
    nome (str): Nome da pessoa que será saudada.

    Retorna:
    None

In [ ]:
print(saudacao.__doc__)

    Exibe uma saudação personalizada.

    Parâmetros:
    nome (str): Nome da pessoa que será saudada.

    Retorna:
    None

## Documentação automática

# Convenção de nomes

Em Python, a convenção de nomes (*naming convention*) segue um conjunto de diretrizes definido no documento oficial chamado PEP 8 (Python Enhancement Proposal 8). Esse documento serve como guia de estilo para escrever código Python legível, consistente e Pythonic.

**snake_case**

* Usado para nomes de variáveis, funções e métodos

Variável

In [ ]:
nome_restaurante = "Banzeiro"

Função

In [ ]:
def converte_nome (nome):
  return (nome.upper())

**UPPER_CASE**

* Usado para constantes

In [ ]:
PI = 3.14159
TAXA_CAMBIO = 5.37

**CamelCase / PascalCase**

* Usado para nomes de classes

Classe

In [ ]:
class CienciaDados:
  nome = "Tiago"

Convenção de nomes para **pacotes** em Python (segundo a PEP 8):

* Sempre em letras minúsculas

* Sem espaços ou caracteres especiais

* Se necessário, use sublinhado (_), mas evite se possível

In [ ]:
import numpy
import matplotlib

# Operador Lógico

## Lógica booleana: operadores básicos

![image.png]()

## Teste de identidade de tipos

In [ ]:
nome = "João"
type(nome) is str

True

In [ ]:
type(nome) is not False

True

#Tuplas

In [ ]:
tupla1 = ('casa', 1, True)

A função `tuple()` cria uma tupla vazia.

In [ ]:
tupla2 = tuple()

In [ ]:
print (type(tupla2))

<class 'tuple'>

In [ ]:
print (tupla2)

()

A função `tuple()` aceita objetos iteráveis (*iterable*).

In [ ]:
lista = [2, 3, 4]

tupla3 = tuple(lista)

print (tupla3)

(2, 3, 4)

O parâmetro deve ser um objeto iterable.

In [ ]:
tupla4 = tuple(10)

TypeError: 'int' object is not iterable

O acesso é realizado através de índices.

In [ ]:
tupla5 = ('casa', 1, True)

tupla5[2]

As tuplas são objetos. Portanto, podemos usar métodos desses objetos.

In [ ]:
tupla6 = ('casa', 10, 10, 10.1)

tupla6.count(10)

#Listas

In [ ]:
lista1 = [10, 3, True, 'casa']

Uso da função `list( )`

In [ ]:
lista2 = list(('10', 3, True))

lista2

Função `append( )`

In [ ]:
lista3 = [1, 3, 5]

print (lista3)

In [ ]:
lista3.append(50)

print (lista3)

Função `insert (i, valor)`

In [ ]:
lista4 = [1, 3, 4]

print (lista4)

In [ ]:
lista4.insert(3, 'casa')

print (lista4)

O que acontece ao inserir o elemento em uma posição já existente na lista?

In [ ]:
lista4.insert(0, 50)

In [ ]:
print (lista4)

O que acontece ao inserir o elemento em uma posição além do último elemento?

In [ ]:
lista4.insert(10, 'carro')

In [ ]:
print (lista4)

Função `pop(i)`

In [ ]:
lista5 = [10, 20, 30, 40, 50]

In [ ]:
lista5.pop(3)

In [ ]:
print (lista5)

O que acontece ao tentar remover um elemento de uma posição inexistente da lista?

In [ ]:
lista5.pop(10)

Função `reverse( )`

In [ ]:
lista6 = [10, 20, 30, 40, 50]

In [ ]:
print (lista6)

In [ ]:
lista6.reverse()

In [ ]:
print (lista6)

Função `extend( )`

In [ ]:
lista7 = [10, 20, 30]

lista8 = [40, 50]

In [ ]:
print (lista7)

In [ ]:
lista7.extend(lista8)

In [ ]:
print (lista7)

Qual seria a diferença entre as operações `extend( )` e `append( )`?

In [ ]:
lista7 = [10, 20, 30]

lista8 = [40, 50]

lista7.append(lista8)

In [ ]:
print (lista7)

A função `extend( )` equivale a operação de `+`

In [ ]:
lista9 = [10, 20]
lista10 = [30, 40]

lista11 = lista9 + lista10

In [ ]:
print (lista11)

A função `index( )` retorna o índice (posição) de um valor passado como parâmetro.

In [ ]:
lista12 = [10, 20, 30, 40]

In [ ]:
print (lista12.index(40))

E se o elemento não estiver na lista?

In [ ]:
print (lista12.index(50))

A função `count( )` retona o número de ocorrências de um valor da lista passado como parâmetro.

In [ ]:
lista13 = [10, 20, 30, 10, 10]

In [ ]:
lista13.count(10)

A função `remove( )` remove a primeira ocorrência do valor passado como parâmetro.

In [ ]:
lista14 = [10, 20, 30, 10, 10]

In [ ]:
lista14.remove(10)

In [ ]:
print (lista14)

Fatiamento das listas

In [ ]:
lista15 = [10, 20, 30, 40, 50]

In [ ]:
lista15[2:4]

Uso de índices negativos

In [ ]:
lista16 = [10, 20, 30, 40, 50]

In [ ]:
lista16[-1]

A declaração de uma variável do tipo string pode ser feita de três modos:

string1 = 'Curso de Ciencia de Dados'

string2 = "Curso de Ciencia de Dados"

In [ ]:
string1 = 'Curso de Ciencia de Dados'
string2 = "Curso de Ciencia de Dados"

Exemplos de usos de operações de listas em strings:

In [ ]:
type(string1)

In [ ]:
l = string1.split()

In [ ]:
print (type(l))

In [ ]:
print (l)

#Dicionários

Exemplo de criação de um dicionário:

In [ ]:
dict1 = {'name': 'Bob', 'age': 25, 'job':'Dev', 'city':'New York', 'email':'bob@web.com'}

In [ ]:
print (dict1)

Checar o tipo:

In [ ]:
type(dict1)

Forma de acesso a um elemento da estrutura:

In [ ]:
dict1['city']

Exibir todas as chaves de um dicionário:

In [ ]:
dict1.keys()

Exibir os valores de um dicionário:

In [ ]:
dict1.values()

Exibir os valores de um dicionário como pares (tuplas):

In [ ]:
dict1.items()

Alterar um valor do dicionário

In [ ]:
dict1['age'] = 26

In [ ]:
dict1

Operação para remover (delete) uma chave e o seu valor associado:

In [ ]:
del dict1['city']

In [ ]:
dict1

#Comandos Condicionais

O comando `if` é usado como comando condicional

In [ ]:
#@title Default title text
valor = 10 #@param {type:"integer"}

if (valor%2==0):
  print ('Par')

Uso do comando `if-else`:

In [ ]:
#@title Default title text
valor = 17 #@param {type:"integer"}

if (valor%2==0):
  print ('Par')
else:
  print ('Impar')

É possível ainda usar o comando `if` aninhado através do `elif`:

In [ ]:
valor = 0 #@param {type:"integer"}

if (valor>0):
  print ('Positivo')
elif (valor<0):
  print ('Negativo')
else:
  print ('Zero')

#Laço de Repetição

Exemplo simples:

In [ ]:
for i in [10,20,30]:
  print(i)

Função `range( )`

In [ ]:
print (list(range(5)))

In [ ]:
print (list(range(3,8)))

In [ ]:
print (list(range(3,10,2)))

A função `range( )` em um laços de repetição:

In [ ]:
for i in range(5):
  print (i)

A função `enumerate( )` retorna o índice e o valor do elemento de uma lista.

In [ ]:
cidades = ['Manaus', 'Itacoatiara', 'Parintins', 'Presidente Figueiredo']

In [ ]:
for c in cidades:
  print (c)

In [ ]:
for c in enumerate(cidades):
  print (c)

A função `zip( )` permite associar muitas listas e, simultaneamente, iterar através dos elementos destas listas.

In [ ]:
estados = ['Amazonas', 'Pará', 'Acre', 'Roraima']
siglas = ['AM', 'PA', 'AC', 'RR']

In [ ]:
for e,s in zip(estados, siglas):
  print (e,s)

Python ainda possui o comando `while` como laço de repetição.

In [ ]:
i = 0
while (i<10):
  print (i)
  i+=1

#Funções

Exemplo simples:

In [ ]:
def soma(a,b):
  print(a+b)

valor1 = 3 #@param {type:"integer"}
valor2 =  7#@param {type:"integer"}

soma(valor1,valor2)

Uma função pode retornar um valor através do operador `return`

In [ ]:
def soma(a,b):
  return(a+b)

valor1 = 3 #@param {type:"integer"}
valor2 =  7#@param {type:"integer"}

print(soma(valor1,valor2))

É possível ter argumentos opcionais nas funções em Python

In [ ]:
def produto(a,b=10):
  print (a*b)

produto (5)

In [ ]:
produto (5,8)

Passagem de listas como argumentos de funções

In [ ]:
def conta_pares(lista):
  total=0
  for i in lista:
    if i%2==0:
      total+=1
  print (total)

In [ ]:
lista = [1, 3, 4, 6, 10]

conta_pares(*lista)

Passagem de dicionários como argumentos de funções

In [ ]:
def testa_maioridade(d):
  if d['age'] >= 18:
    print ('Maior de idade.')
  else:
    print ('Menor de idade.')

In [ ]:
dict1 = {'name': 'Bob', 'age': 25, 'job':'Dev', 'city':'New York', 'email':'bob@web.com'}

In [ ]:
testa_maioridade(dict1)

Múltiplos retornos

In [ ]:
def calculos (a,b):
  return (a+b, a*b)

In [ ]:
calculos(10,20)

Função `lambda`

Exemplo de função `lambda` para colocar o texto em caixa alta e separar por palavras:

In [ ]:
texto = 'Ciencia de Dados'

In [ ]:
(lambda string: string.upper().split())(texto)

Exemplo de função `lambda` para manipular lista.

In [ ]:
lista = [10, 13, 19, 20, 50]

In [ ]:
nova_lista = list(filter(lambda x:(x%2==0), lista))

In [ ]:
print (nova_lista)

#Orientação a objetos

Exemplo1:

In [ ]:
from sklearn.linear_model import LinearRegression

objeto = LinearRegression()

A declaração abaixo criou uma variável ou um objeto?

In [ ]:
valor = True

In [ ]:
valor.denominator

In [ ]:
valor.conjugate()

Exemplo 2:

In [ ]:
class minhaClasse:
  def __init__ (self, resolution = 300, source = "./", size = 500):
    self.resolution = resolution
    self.source = source
    self.size = size

In [ ]:
imagem1 = minhaClasse(source="dog.png")

In [ ]:
imagem1.size

In [ ]:
imagem1.source

#Módulos e Pacotes

Exemplo 1

In [ ]:
!pip install datetime

In [ ]:
import datetime

In [ ]:
print (datetime.date.today())

Exemplo 2

In [ ]:
import numpy as np

In [ ]:
print (np.random.random(1))

# Tratamento de Erros e Exceções

Exemplo 1:

In [ ]:
def divisao (a,b):
  return (a/b)

In [ ]:
divisao (10,5)

In [ ]:
divisao(10,0)

In [ ]:
divisao (10, 'casa')

In [ ]:
def divisao (a,b):
  try:
    return (a/b)
  except ZeroDivisionError:
    print ('Divisao por zero.')
  except TypeError:
    print ('Tipo incorreto para a operação.')
    None

In [ ]:
divisao (10,0)

In [ ]:
divisao (10,'casa')

Exemplo 2:

In [ ]:
def divisao (a, b):
  try:
    resultado = a/b
  except ZeroDivisionError:
    print ('Divisao por zero não é permitida.')
  else:
    print ('O resultado é:', resultado)
  finally:
    print ('Término da execução.')

In [ ]:
divisao (10,3)

In [ ]:
divisao (10, 0)

#Expressões Regulares

Exemplo 1:

In [ ]:
import re

In [ ]:
texto = "tmelo@uea.edu.br"

regexp = "(^[a-z0-9 ._-] + @[a-z0-9._-] + \.[(com|br)]+)"

if re.match (regexp, texto) is None:
  print (True)
else:
  print ("False")

#Decorators

Exemplo 1:

In [ ]:
def primeiro(msg):
    print(msg)

In [ ]:
primeiro("Curso de Programação")

In [ ]:
segundo = primeiro
segundo("Curso")

Exemplo 2:

In [ ]:
def inc(x):
    return x + 1

def dec(x):
    return x - 1

def operate(func, x):
    resultado = func(x)
    return resultado

In [ ]:
operate(inc,3)

In [ ]:
operate(dec,3)

Exemplo 2:

In [ ]:
def principal():
    def secundaria():
        print("Curso de Python")
    return secundaria

In [ ]:
f = principal()

In [ ]:
f()

Exemplo 3:

In [ ]:
def avancada(func):
    def inner():
        print("Função avançada - decorator")
        func()
    return inner


def basica():
    print("Função básica")

In [ ]:
basica()

In [ ]:
b = avancada(basica)

In [ ]:
b()

# 🆕 Novidades do Python 3.8+

Nesta seção, vamos conhecer alguns recursos modernos e úteis que foram adicionados nas versões recentes do Python. Esses recursos ajudam a escrever códigos mais legíveis, eficientes e modernos.

In [ ]:
# := Walrus operator - atribuição dentro de uma expressão
# Útil em loops e condicionais

while (linha := input("Digite algo (vazio para sair): ")) != "":
    print("Você digitou:", linha)

In [ ]:
# f-strings com "=" para debug

x = 42
y = "Python"
print(f"{x=}, {y=}")

In [ ]:
# Pattern Matching (match-case) - a partir do Python 3.10

comando = "start"

match comando:
    case "start":
        print("Iniciando...")
    case "stop":
        print("Parando...")
    case _:
        print("Comando não reconhecido.")

In [ ]:
# Tipagem com "|" (Union types) - Python 3.10+

def saudacao(nome: str | None) -> str:
    if nome:
        return f"Olá, {nome}"
    return "Olá, visitante"

print(saudacao("Tiago"))
print(saudacao(None))

In [ ]:
# Funções com argumentos somente por palavra-chave

def mostrar(msg, /, *, upper=False):
    if upper:
        msg = msg.upper()
    print(msg)

mostrar("mensagem padrão")
mostrar("em maiúsculo", upper=True)

![Virtualenv](attachment:A_2D_digital_vector_graphic_diagram_illustrates_th.png)

# 📝 Lista de Exercícios

1. Escreva uma função que receba dois números e retorne o maior deles.
2. Crie uma função que receba uma lista de números e retorne a média.
3. Use `match-case` para criar um menu de opções com pelo menos 3 comandos diferentes.
4. Faça um programa que solicite nomes até que o usuário envie uma string vazia.
5. Reescreva um código simples usando `f-string` com `=`.
6. Crie uma função que aceite apenas argumentos por palavra-chave.
7. Use o operador `:=` para criar uma versão compacta de um loop `while`.

💡 Dica: tente usar Google Colab e explore recursos como Markdown, gráficos com Matplotlib e visualizações de DataFrame com Pandas.